// Header contacts
.contacts a {
  color: $secondary-text-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.contacts-item:active {
  color: red;
}

@media screen and (min-width: 767px) {
  .contacts-item:not(:last-child) {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts-item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts.list {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1199px) {
  .contacts {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contact.list {
    flex-wrap: nowrap;
    margin-left: 305px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

// Footer contacts

.address {
  color: $hero-text-color;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;

  margin-top: 20px;
  margin-bottom: 9px;
}

.connect a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.tel-number {
  margin-top: 9px;
}

.contacts > .svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
