.form {
  padding: 0;
  margin: 0;
  width: 448px;
  height: 40px;

  &__field {
    display: block;
    position: relative;
    margin-bottom: 28px;
    width: 100%;
  }
}

.form__label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #fff;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition: transform 250ms linear;
}

.form__input {
  margin: 0;
  margin-top: 4px;
  padding: 12px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  color: $primary-text-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: $accent-background-color;
    outline: none;
    cursor: pointer;
  }
}

.form__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-40%);
  fill: $primary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus ~ .form__input-icon,
.form__input:not(:placeholder-shown) ~ .form__input-icon {
  fill: $accent-text-color;
}

.form__input.comment {
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  white-space: nowrap;
  resize: none;
}

.modal__policy-link {
  display: block;
  margin-left: 5px;
  text-decoration: underline;
  text-align: right;
  color: $accent-text-color;
}

.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &__icon-check {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.checkbox:checked + .checkbox__icon-check {
  background-color: $accent-background-color;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-clip: border-box;
  background-position: center;
  border-color: $accent-text-color;
  background-repeat: no-repeat;
}
