// Staff link icons

.socialicons.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
}

.socialicons-item:not(:last-child) {
  margin-right: 10px;
}

.socialicons-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .icon,
    &:focus .icon {
      fill: $hero-text-color;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
