.footer {
  background-color: $hero-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .contacts-block .footer-icons-block {
    margin-bottom: 60px;
  }
}

.wrapper-tablet {
  @include for-size(tablet) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);

  & > .icon {
    fill: $hero-text-color;
  }
}

@include for-size(tablet) {
  .mailing.block {
    margin-top: 60px;
  }
}

@include for-size(desktop) {
  .mailing.block {
    margin-left: 94px;
  }
}

.container.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@include for-size(desktop) {
  .container.flexbox {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
  }
}

.footer-icons-block {
  @media screen and (min-width: 320px) {
    margin-bottom: 60px;
    margin-top: 60px;
  }

  @include for-size(tablet) {
    margin-left: 70px;
  }
}

.follow {
  display: block;
  font-weight: 400;
  line-height: 1.14;
  text-transform: uppercase;

  color: $hero-text-color;

  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  @include for-size(desktop) {
    font-weight: 700;
    text-align: start;
  }
}

.form-field.footer-form-field {
  margin-bottom: 0;
}

.mailing-form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @include for-size(desktop) {
    align-items: flex-start;
    flex-direction: initial;
  }
}
.contacts-block {
  @include for-size(desktop) {
    text-align: start;
  }
}

.mail-input {
  width: 92vw;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  color: $hero-text-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg-color);

  @include for-size(tablet) {
    width: 450px;
  }
  @include for-size(desktop) {
    width: 358px;
  }
}

.icon-telegram {
  fill: $hero-text-color;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
