.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $hero-background-color;

  max-width: 576px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid transparent;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bcgimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: $hero-text-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
}
