.page__header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

.page__header {
  /* position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 60px; */
  height: 60px;
  position: relative;
  background-color: $primary-background-color;

  @media screen and (min-width: 767px) {
    border-bottom: 1px solid #ececec;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .nav-item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.site-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;
  }
  & .link {
    display: inline-block;

    color: $primary-text-color;
    font-size: 18px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      text-align: center;
    }
  }

  .link.current {
    color: $accent-text-color;
    position: relative;
    text-align: center;
  }

  .link.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: $accent-background-color;
    border-radius: 2px;
  }

  .site-nav .link .contacts a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: $accent-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav .link:active {
    color: red;
  }

  .link:hover,
  .link:focus {
    color: $accent-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-header .navigation {
    position: relative;

    // display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
  }
}
