.section.quolity {
  padding-top: 94px;
}

.quolity-caption {
  display: none;
}

.quolity-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
    align-items: start;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    flex-wrap: nowrap;
  }
}

.quolity-item {
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    // width: calc((100% - 30px) / 2);
    margin: 15px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .quolity-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .quolity-item {
    width: calc((100% -30px * 3) / 4);
  }
}

@media screen and (max-width: 767px) {
  .quolity-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .quolity-item:nth-child(2n) {
    margin-right: 0px;
  }
}

.quolity-item::before {
  display: block;
  content: "";
  height: 120px;
  outline: 1px transparent;
  background-repeat: no-repeat;
  background-color: $secondary-background-color;
  background-position: center;
}

.icon-microscope::before {
  background-image: url(../images/antenna.svg);
}

.icon-intime::before {
  background-image: url(../images/clock.svg);
}

.icon-planing::before {
  background-image: url(../images/planer.svg);
}

.icon-techno::before {
  background-image: url(../images/astronaut.svg);
}

.quolity-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
}

.quolity-text {
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.7;

  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
  text-align: start;
}
